---
layout: default
---

<!-- Contact Start -->
<div class="container bg-white pt-5">
    <div class="row px-3 pb-2">
        <div class="col-sm-4 text-center mb-3">
            <i class="fa fa-2x fa-map-marker-alt mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Address</h4>
            <p>Shujalpur, 465333, Madhya Pradesh(India)</p>
        </div>
        <div class="col-sm-4 text-center mb-3">
            <i class="fa fa-2x fa-phone-alt mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Phone</h4>
            <p>+91-8962527588</p>
        </div>
        <div class="col-sm-4 text-center mb-3">
            <i class="far fa-2x fa-envelope mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Email</h4>
            <p>rajputlakhveer@gmail.com</p>
        </div>
    </div>
</div>