<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} - Insights by Lakhveer Singh Rajput</title>
		<meta name="description" content="{{ page.description | default: site.description }}">
		<meta name="keywords" content="{{ page.tags | default: site.keywords }}">
		<meta name="author" content="{{ page.author | default: site.author }}">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:description" content="{{ page.description }}">
		<meta property="og:image" content="{{ page.image | default: site.image }}">
		<meta name="robots" content="index, follow">
		<meta name="language" content="English">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://rajputlakhveer.github.io/">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:title" content="Insights by Lakhveer Singh Rajput - Blogs on Ruby on Rails, AI, and More">
		<meta property="twitter:description" content="Explore blogs by Lakhveer Singh Rajput on Ruby on Rails, AI, and more. Get insights into the latest in web development.">
		<meta property="twitter:image" content="https://rajputlakhveer.github.io/assets/img/twitter-image.png">
		<link rel="icon" href="img/favicon.ico">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
	</head>
	<body>
    <div class="wrapper">
      <div class="sidebar">
        <div class="sidebar-text d-flex flex-column h-100 justify-content-center text-center">
            <img class="mx-auto d-block w-75 bg-primary img-fluid rounded-circle mb-4 p-3" src="{{ '/assets/img/profile.jpeg' | relative_url }}" alt="Image">
            <h1 class="font-weight-bold">Lakhveer Singh Rajput</h1>
            <p class="mb-4">
                Ruby on Rails enthusiast, book lover and DevOps explorer. Follow me for insights on coding, book recommendations, and bridging development with operations.🚀📚
            </p>
            <div class="d-flex justify-content-center mb-5">
                <a class="btn btn-outline-primary mr-2" href="https://x.com/kunwar_lakhveer"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-primary mr-2" href="mailto:rajputlakhveer@gmail.com"><i class="fa fa-envelope"></i></a>
                <a class="btn btn-outline-primary mr-2" href="https://www.linkedin.com/in/lakhveer-singh-rajput-8527b5190/"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-primary mr-2" href="https://medium.com/@rajputlakhveer"><i class="fab fa-medium"></i></a>
            </div>
            <a href="" class="btn btn-lg btn-block btn-primary mt-auto">Hire Me</a>
        </div>
        <div class="sidebar-icon d-flex flex-column h-100 justify-content-center text-right">
            <i class="fas fa-2x fa-angle-double-right text-primary"></i>
        </div>
      </div>
      <div class="content">
        <!-- Navbar Start -->
        <div class="container p-0">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
                <a href="" class="navbar-brand d-block d-lg-none">Navigation</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav m-auto">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->
		    {{ content }}
        <!-- Footer Start -->
        <div class="container py-4 bg-secondary text-center">
            <p class="m-0 text-white">
                &copy; <a class="text-white font-weight-bold" href="#">Lakhveer Singh Rajput - Blogs</a>. All Rights Reserved.
            </p>
        </div>
        <!-- Footer End -->
      </div>
    </div>
		<a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
		<script src="{{ '/assets/lib/easing/easing.min.js' | relative_url }}"></script>
		<script src="{{ '/assets/lib/waypoints/waypoints.min.js' | relative_url }}"></script>
		<script src="{{ '/assets/mail/jqBootstrapValidation.min.js' | relative_url }}"></script>
		<script src="{{ '/assets/mail/contact.js' | relative_url }}"></script>
		<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
	</body>
</html>
