<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Insights by Lakhveer Singh Rajput - Blogs on Ruby on Rails, AI, and More</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="Lakhveer Singh Rajput, Blogs, Ruby on Rails, AI, JavaScript, Web Development, Programming, Technology, Coding">
		<meta name="description" content="Explore blogs by Lakhveer Singh Rajput covering topics on Ruby on Rails, AI, JavaScript, and other programming concepts. Stay updated with the latest trends in technology and web development.">
		<meta name="author" content="Lakhveer Singh Rajput">
		<meta name="robots" content="index, follow">
		<meta name="language" content="English">
		<meta property="og:title" content="Insights by Lakhveer Singh Rajput - Blogs on Ruby on Rails, AI, and More">
		<meta property="og:description" content="Explore blogs by Lakhveer Singh Rajput covering Ruby on Rails, AI, JavaScript, and more. Stay updated with the latest in web development.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://rajputlakhveer.github.io/">
		<meta property="og:image" content="https://rajputlakhveer.github.io/assets/img/og-image.png">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:title" content="Insights by Lakhveer Singh Rajput - Blogs on Ruby on Rails, AI, and More">
		<meta property="twitter:description" content="Explore blogs by Lakhveer Singh Rajput on Ruby on Rails, AI, and more. Get insights into the latest in web development.">
		<meta property="twitter:image" content="https://rajputlakhveer.github.io/assets/img/twitter-image.png">
		<link rel="icon" href="img/favicon.ico">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
	</head>
	<body>
		{{ content }}
		<a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
		<script src="{{ '/assets/lib/easing/easing.min.js' | relative_url }}"></script>
		<script src="{{ '/assets/lib/waypoints/waypoints.min.js' | relative_url }}"></script>
		<script src="{{ '/assets/mail/jqBootstrapValidation.min.js' | relative_url }}"></script>
		<script src="{{ '/assets/mail/contact.js' | relative_url }}"></script>
		<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
	</body>
</html>
