---
layout: default
---

<!-- Carousel Start -->
<!--  <div class="container p-0">
  <div id="blog-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          {% if site.posts.size > 0 %}
          {% for post in site.posts %}
          <div class="carousel-item active">
              <img class="w-100" src="{{ '/assets/images/rails.jpg' | relative_url }}" alt="Image">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                  <h2 class="mb-3 text-white font-weight-bold">{{ post.title | escape }}</h2>
                  <div class="d-flex text-white">
                      <small class="mr-2"><i class="fa fa-calendar-alt"></i>{{ post.date | date: date_format }}</small>
                      <small class="mr-2"><i class="fa fa-folder"></i>{{ post.categories | join: ", "}}</small>
                  </div>
                  <a href="{{ post.url | relative_url }}" class="btn btn-lg btn-outline-light mt-4">Read More</a>
              </div>
          </div>
          {% endfor %}
          {% endif %}
      </div>
      <a class="carousel-control-prev" href="#blog-carousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#blog-carousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
      </a>
  </div>
</div> -->
<!-- Carousel End -->


<!-- Blog List Start -->
{% if page.date %}
<div class="container py-5 px-2 bg-white">
  <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">
    {{ page.title | escape }}
  </h3>
  {{ content }}
</div>
{% else %}
<div class="container bg-white pt-5">
  {% if site.posts.size > 0 %}
  {% for post in site.posts %}
  <div class="row blog-item px-3 pb-5">
    <div class="col-md-5">
      <img class="img-fluid mb-4 mb-md-0" src="{{ post.image | default: '/assets/img/blog-1.jpg' | relative_url }}" alt="Image">
    </div>
    <div class="col-md-7">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <div class="d-flex mb-3">
        <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i>{{ post.date | date: date_format }}</small>
        <small class="mr-2 text-muted"><i class="fa fa-folder"></i> {{ post.categories }} </small>
        <small class="mr-2 text-muted"><i class="fa fa-comments"></i> 15 Comments</small>
      </div>
      <p>
        {{ post.tags }}
      </p>
      <a class="btn btn-link p-0" href="{{ post.url | relative_url }}">Read More <i class="fa fa-angle-right"></i></a>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endif %}
<!-- Blog List End -->
